VITE_SUPABASE_URL=YOUR_SUPABASE_URL
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
VITE_MERCADO_PAGO_PUBLIC_KEY=YOUR_MERCADO_PAGO_PUBLIC_KEY
VITE_MERCADO_PAGO_ACCESS_TOKEN=YOUR_MERCADO_PAGO_ACCESS_TOKEN
